# Default ignored files
/../../../../Phân tích dữ liệu/Đồ án Phân tích dữ liệu/Nhom02_Code/.idea/shelf/
/../../../../Phân tích dữ liệu/Đồ án Phân tích dữ liệu/Nhom02_Code/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Phân tích dữ liệu/Đồ án Phân tích dữ liệu/Nhom02_Code/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Phân tích dữ liệu/Đồ án Phân tích dữ liệu/Nhom02_Code/.idea/dataSources/
/../../../../Phân tích dữ liệu/Đồ án Phân tích dữ liệu/Nhom02_Code/.idea/dataSources.local.xml
